version: '3.8'
services:
  mongo:
    image: mongo:latest
    container_name: game_mongo
    volumes:
      - ./mongo-data:/data/db
    restart: always

  redis:
    image: redis:latest
    container_name: game_redis
    restart: always

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: game_backend
    volumes:
      - ./backend:/usr/src/app:delegated
      - /usr/src/app/node_modules
    working_dir: /usr/src/app
    command: npm run dev
    ports:
      - "8080:8080"
    depends_on:
      - mongo
      - redis
    environment:
      MONGO_URI: mongodb://mongo:27017/game-gathering
      PORT: 8080
      REDIS_URL: redis://redis:6379

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: game_frontend
    volumes:
      - ./frontend:/usr/src/app:delegated
      - /usr/src/app/node_modules
    working_dir: /usr/src/app
    command: npm run dev
    ports:
      - "3000:3000"
    environment:
      VITE_API_BASE_URL: http://localhost:8080
      VITE_SOCKET_URL: http://localhost:8080
